.custom-total{
    height: 80px;
    background-color: #e5e5e5;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

html[data-bs-theme="dark"] .custom-total{
    
    background-color: #2d2d43;
    
}
.iti {
    width: 100% !important;
}

.layout-button-add-transaction{
      /* padding: 70px 0; */
  /* border: 3px solid green; */
  border-radius: 10px;
  text-align: center;
  /* height: 100%; */
  background-color: #4e4e4eb9;
  /* position: relative; */

}
.layout-inner-button-add-trancs {
     text-align: center;
      padding: 80px 0;
      height: 100%;
}
.custom-empty{
    padding: 70px 0;
    text-align: center;
    background-color: #e5e5e509;
    border-radius: 10px;
}
.btn-custom-add-transac{
    border-radius: 20px; 
    margin-top: 16% !important  ;
}

.container-detail-trans{
    margin-top: -8px !important;
}
.bg-table-th{
    position: sticky; top: 0; background-color: rgb(241, 241, 241) !important;
}
.sub-product-cart{
    margin-top: -10px !important; font-size: 10pt !important;
}
.sub-total-cart{
    margin-top: 15px !important; 
}
.sub-button-cart{
    margin-top: 5px !important;
}
html[data-bs-theme="dark"] .bg-table-th{
    
    background-color: #2d2d43 !important;
    
}
.container-list-product{
    max-height: 500px; overflow-y: scroll; overflow-x: hidden;
}
.btn-list-product{
    height: fit-content; 
    padding: 5px; 
    background-color: #fafafa !important; 
    border-radius: 10px !important;
}
html[data-bs-theme="dark"] .btn-list-product{
    
    background-color: #2d2d43 !important;
         height: fit-content; 
    padding: 5px !important; 
    border-radius: 10px !important;
    
}
.img-list-product{
    width: 100%; height: 180px; border-radius: 10px;
}
.size-list-product{
    border-radius: 10px !important;font-size: 8pt !important; margin-left: 5px !important;
    margin-top: 10px !important;
}
.material-list-product{
    border-radius: 10px !important;font-size: 8pt !important; 
    
}
.material-list-product2{
     border-radius: 10px !important;font-size: 8pt !important; margin-left: 1px !important;
}
.title-list-product{
    font-size: 13pt !important; margin-left: 5px !important;
    color: #151521 !important;
}
.price-list-product{
     margin-left: 5px !important; margin-top: -15px !important; font-size: 10pt !important;
}
.price-list-product2{
     margin-left: 0px !important; margin-top: -15px !important; font-size: 10pt !important;
}

html[data-bs-theme="dark"] .title-list-product{
    font-size: 13pt !important; margin-left: 5px !important;
    color: white !important;
}
@media only screen and (max-width: 360px),
(min-device-width: 360px) and (max-device-width: 1024px) {
   .btn-custom-add-transac{
     margin-top: 40% !important;
}

.img-list-product{
    width: 100%; height: 140px; border-radius: 20px;margin-bottom: -10px;
}
.size-list-product{
    border-radius: 10px !important;font-size: 8pt !important; margin-left: 5px !important;
    margin-top: 10px !important;
}

    
}

html[data-bs-theme="dark"] .selectize-input {
    background-color: #1b1b29 !important;
    border: 0px !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1) !important;
}
.selectize-input {
    background-color: #ffffff !important;
    border: 0px !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1) !important;
}

html[data-bs-theme="dark"]   #select-tools-selectized {
    color: white !important;
}
#select-tools-selectized {
    color: black !important;
    font-size: 12pt;
}
html[data-bs-theme="dark"]   .selectize-dropdown .active:not(.selected) {
    background: #6c757d !important;
    color: white !important;
}
.selectize-dropdown .active:not(.selected) {
    background: #b9b9b9 !important;
    color: black !important;
}
.selectize-control.single .selectize-input{
    background-image: none !important;
}
.selectize-dropdown [data-selectable].option{
      font-size: 12pt;
}
.selectize-input > *{
     font-size: 12pt;
     color: black;
}
html[data-bs-theme="dark"] .selectize-input > *{
     font-size: 12pt;
     color: white;
}
.selectize-control{
    padding: 0 !important;
}
.choicePayment{
    width: 100%;
    height: 100%;
    border-radius: 15px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 1rem;
    
}
.btn-rounded{
    border-radius: 20px !important;
}
.group-btns{
    margin-top: -10px !important;
    margin-bottom: 10px !important;
}
.custom-entity{
   
    margin-left: -7px !important;
    border: 1px solid gray;
    width: fit-content;
    border-radius: 15px;
}
.custom-sum{
    padding-top: .3rem !important;
}
.custom-row-entity{
 margin-top: -15px !important;
}
.custom-status-entity{
    margin-top: 8px !important;
}
.btn-custom-cart{
    border-radius: 15px !important;
}
.btn-custom-sum{
    border: 0px;
    border-radius: 15px;
}
.btn-custom-sum:hover{
 background-color: #6c757d22;
}

html[data-bs-theme="dark"] .btn-custom-sum:hover{
 background-color: #6c757d22;
}
html[data-bs-theme="dark"] .btn-custom-sum{
    border: 0px;
    border-radius: 15px;
}
.customInputItem{
    width: 20px;
  border: 0px;
  outline: none;
  background: none;
  text-align: center;
}
.customInputItem ::placeholder{
    color: black;
     opacity: 1;
}
html[data-bs-theme="dark"] .customInputItem ::placeholder{
    color: white;
     opacity: 1;
}
.custom-modal-konfirm{
    margin-bottom: 0px !important;
}
.custom-modal-konfirm-row{
    margin-top: -5px !important;
}
.custom-modal-konfirm-title{
    margin-bottom: -2px !important;
}
.custom-modal-konfirm-itemsub{
    margin-top: 15px !important;
}
.custom-modal-konfirm-row-item{
    background-color: #fafafa;
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 10px;
    
}
.btn-payments:disabled{
    color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: 0 !important;
  border: none !important;
  opacity: 1 !important;
}