.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}
@media only screen and (min-device-width: 1024px) {
    .flex-custom {
      flex-direction: row !important;
    }
    
}

@media only screen and (max-width: 360px),
(min-device-width: 360px) and (max-device-width: 1024px) {
    .flex-custom {
      flex-direction: column !important;
    }
    
}